In [1]:
import pandas as pd

url_client_profiles = 'data/df_final_demo.txt'
url_digital_footprints1 = 'data/df_final_web_data_pt_1.txt'
url_digital_footprints2 = 'data/df_final_web_data_pt_2.txt'
url_experiment_roster = 'data/df_final_experiment_clients.txt'

df1 = pd.read_csv(url_digital_footprints1)
df2 = pd.read_csv(url_digital_footprints2)

# imported dataframes to work with
df_client_profiles = pd.read_csv(url_client_profiles)
df_exp_roster = pd.read_csv(url_experiment_roster)
# merged footprint files
df_footprints = pd.concat([df1, df2])

In [2]:
df_client_profiles.rename(columns={'clnt_tenure_yr': 'client_tenure_years', 'clnt_tenure_mnth': 'client_tenure_months', 'clnt_age': 'client_age', 'gendr': 'gender', 'num_accts': 'num_accounts', 'bal': 'balance', 'calls_6_mnth': 'calls_6months', 'logons_6_mnth': 'logins_6months'}, inplace=True)
df_client_profiles_cleaned = df_client_profiles.dropna(subset=["client_tenure_years", "client_tenure_months", "client_age", "gender", "num_accounts", "balance", "calls_6months", "logins_6months"], how="all")
df_exp_roster_cleaned = df_exp_roster.dropna(subset=["Variation"], how="all")
df_footprints_cleaned = df_footprints.dropna(subset=["client_id", "visitor_id", "visit_id", "process_step", "date_time"], how="all")

df_client_profiles_cleaned[df_client_profiles_cleaned['gender']=='U']
df_client_profiles_cleaned['gender'] = df_client_profiles_cleaned['gender'].apply(lambda x: 'U' if x == 'X' else x)
df_client_profiles_cleaned['gender'].fillna('U')

C:\Users\merkm\AppData\Local\Temp\ipykernel_6692\191801006.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_client_profiles_cleaned['gender'] = df_client_profiles_cleaned['gender'].apply(lambda x: 'U' if x == 'X' else x)

0        U
1        U
2        U
3        M
4        F
        ..
70604    U
70605    M
70606    F
70607    M
70608    F
Name: gender, Length: 70595, dtype: object

In [5]:
df_exp_roster_cleaned

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
50495     393005   Control
50496    2908510   Control
50497    7230446      Test
50498    5230357      Test
50499    6334360      Test

[50500 rows x 2 columns]

In [7]:
df_footprints_cleaned

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [9]:
df_client_profiles_cleaned

,client_id,client_tenure_years,client_tenure_months,client_age,gender,num_accounts,balance,calls_6months,logins_6months
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

# Preliminary client analysis:
# Who are the primary clients using this online process? "Durchschnitts"kunden 
# Are the primary clients younger or older, new or long-standing?

#gender frequency table 
frequency_table = df_client_profiles_cleaned['gender'].value_counts()

# Calculating the proportion of each unique value in the 'MSZoning'
proportion_table = df_client_profiles_cleaned['gender'].value_counts(normalize=True)

frequency_table, proportion_table
# quite equally distributed between genders:  
# U    0.341738
# M    0.336058
# F    0.322204

# grouping by for different columns of the df
df_client_profiles_cleaned.groupby(['gender'])['client_age'].agg(['count', 'mean', 'std'])

df_client_profiles_cleaned.groupby(['num_accounts'])['client_tenure_years'].agg(['count', 'mean', 'std'])

df_client_profiles_cleaned.groupby(['gender', 'num_accounts'])['balance'].agg(['count', 'mean', 'std'])

# Summary statistics for the whole dataset
df_client_profiles_cleaned.describe()
# The average client has spent 12 years with the company, is around 46 years old, has 2 accounts, a balance of nearly 150.000, has had 3 calls and 6 logins in the last 6 months

# Hist for each numerical column
df_client_profiles_cleaned.hist(figsize=(15, 20), bins=60, xlabelsize=10, ylabelsize=10);

NÃ¤chsten Felder von Tim:

df_client_profiles_cleaned.groupby(['gender'])['client_age'].agg(['mean', 'median', 'min', 'max', 'count'])

df_client_profiles_cleaned.groupby(['gender'])['client_tenure_years'].agg(['mean', 'median', 'min', 'max', 'count'])

df_client_profiles_cleaned.groupby(['gender'])['balance'].agg(['mean', 'median', 'min', 'max', 'count'])

df_client_profiles_cleaned['activity_score'] = df_client_profiles_cleaned.iloc[:,8] + (df_client_profiles_cleaned.iloc[:,7]*0.5) + (df_client_profiles_cleaned.iloc[:,6]*0.00001)
df_client_profiles_cleaned.sort_values('activity_score', ascending=False)

high_login_threshold = df_client_profiles_cleaned['logins_6months'].quantile(0.8)
low_login_threshold = df_client_profiles_cleaned['logins_6months'].quantile(0.2)

high_call_threshold = df_client_profiles_cleaned['calls_6months'].quantile(0.8)
low_call_threshold = df_client_profiles_cleaned['calls_6months'].quantile(0.2)

def segment_customer(logins):
    if logins >= high_login_threshold:
        return "Highly Active"
    elif logins <= low_login_threshold:
        return "Inactive"
    else:
        return "Moderate"

def segment_customer(calls):
    if calls >= high_call_threshold:
        return "Highly Active"
    elif calls <= low_call_threshold:
        return "Inactive"
    else:
        return "Moderate"

df_client_profiles_cleaned["login_activity"] = df_client_profiles_cleaned["logins_6months"].apply(segment_customer)
df_client_profiles_cleaned["calls_activity"] = df_client_profiles_cleaned["calls_6months"].apply(segment_customer)
df_client_profiles_cleaned

login_activity_counts = df_client_profiles_cleaned["login_activity"].value_counts()
print(login_activity_counts)
df_client_profiles_cleaned.groupby(["login_activity", "gender"])[["client_age", "balance", "client_tenure_years"]].mean()

calls_activity_counts = df_client_profiles_cleaned["calls_activity"].value_counts()
print(calls_activity_counts)
df_client_profiles_cleaned.groupby(["calls_activity", "gender"])[["client_age", "balance", "client_tenure_years"]].mean()

**Wednesday, 05.02 - Implementing KPIÂ´s**

In [ ]:
### Calculating Completion Rate as the proportion of users who reach the final â€˜confirmâ€™ step ###

# 1. Step: Calculate number of users who have reached confirm during their visit
vistor_df = df_footprints_cleaned[df_footprints_cleaned["process_step"] == "confirm"]
vistor_df['visit_id'].nunique()
# wichtig, zweimal df zu schreiben, damit die Spalte innerhlab des Datensatzes ausgewÃ¤hlt wird! 
# wenn nur ein df, dann wird nur die einzelne spalte ohne den df ausgewÃ¤htl!! problem wie beim letzten lab!
#number of confirms is 89.826 

# Step 2. Calculate overall number of unique visit_id that we will divide with 
df_footprints_cleaned["visit_id"].nunique()
# number of unique visits = 158095

# Step 3. Now create new column using the previous two calculations (inlcuding round to two decimal places)
completion_rate = round(
    (vistor_df['visit_id'].nunique() / df_footprints_cleaned["visit_id"].nunique()) * 100, 2
)

In [20]:
# Calculating Time Spent On Each Step as The average duration users spend on each step.)

# Ensure 'date_time' is in datetime format
df_footprints_cleaned['date_time'] = pd.to_datetime(df_footprints_cleaned['date_time'])

# Sort by visit_id and date_time to ensure correct time difference calculation
df_footprints_cleaned = df_footprints_cleaned.sort_values(by=['visit_id', 'date_time'])

# Calculate time spent on each step (difference between consecutive timestamps within each visit)
df_footprints_cleaned['time_spent'] = df_footprints_cleaned.groupby('visit_id')['date_time'].diff().dt.total_seconds()

# Compute the average time spent per process_step
average_time_per_step = df_footprints_cleaned.groupby('process_step')['time_spent'].mean()

# Merge the average time back into the original dataframe as a new column
df_footprints_cleaned['time_each_step'] = df_footprints_cleaned['process_step'].map(average_time_per_step)

# Round to 2 decimal places for readability
df_footprints_cleaned['time_each_step'] = df_footprints_cleaned['time_each_step'].round(2)

# Display the first few rows
df_footprints_cleaned

,client_id,visitor_id,visit_id,process_step,date_time,time_spent,time_each_step
108614,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,NaN,130.58
108613,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,52.0,130.58
104810,9056452,306992881_89423906595,1000165_4190026492_760066,start,2017-06-04 01:07:29,NaN,146.82
104809,9056452,306992881_89423906595,1000165_4190026492_760066,step_1,2017-06-04 01:07:32,3.0,39.51
104808,9056452,306992881_89423906595,1000165_4190026492_760066,step_2,2017-06-04 01:07:56,24.0,45.80
...,...,...,...,...,...,...,...
195914,7149380,483112224_46340533900,999992932_41666455053_671149,step_1,2017-06-06 15:46:24,21.0,39.51
195913,7149380,483112224_46340533900,999992932_41666455053_671149,step_2,2017-06-06 15:47:32,68.0,45.80
195931,7149380,483112224_46340533900,999992932_41666455053_671149,step_3,2017-06-06 16:01:46,854.0,99.44
195930,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:04:08,142.0,130.58
195929,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:05:34,86.0,130.58

### Thursday, 06.02: Finishing KPI for each group & Hypothesis Testing

In [22]:
# As first step for comparison between treatment and control group, need to join two dfs
df_footprints_cleaned.set_index('client_id', inplace=True)
df_exp_roster_cleaned.set_index('client_id', inplace=True)

In [25]:
joined_df = df_footprints_cleaned.join(df_exp_roster_cleaned, how='inner')

In [ ]:
joined_df['Variation'].value_counts()

In [ ]:
joined_df

# create seperate dfs for treatment and control group to pass/ calculate the completion rate kpi 
df_test = joined_df[joined_df["Variation"] == "Test"]
df_control = joined_df[joined_df["Variation"] == "Control"]

df_test

df_control

# Calculating Completion Rate for TEST group
vistor_df = df_test[df_test["process_step"] == "confirm"]
vistor_df['visit_id'].nunique()

df_test["visit_id"].nunique()

test_group_completion_rate = round(
    (vistor_df['visit_id'].nunique() / df_test["visit_id"].nunique()) * 100, 2
)

test_group_completion_rate

# Calculating Completion Rate for CONTROL group
vistor_df = df_control[df_control["process_step"] == "confirm"]
vistor_df['visit_id'].nunique()  

df_control["visit_id"].nunique()

control_group_completion_rate = round(
    (vistor_df['visit_id'].nunique() / df_control["visit_id"].nunique()) * 100, 2
)

control_group_completion_rate

print(f"The completion rate for the test group is {test_group_completion_rate}, while the completion rate for the control group is {control_group_completion_rate}.")

joined_df

**Next Step: Hypothesis Testing** 
Since the new design (Test group) had a higher completion rate compared to the old design (Control group), you are required to confirm if this difference is statistically significant.

In [84]:
##### Calculating Completion Rate per Group + Performing Hypothesis Testing #####

import numpy as np
from statsmodels.stats.proportion import proportions_ztest

# Create seperate dfs for treatment and control group to pass/ calculate the completion rate kpi 
df_test = joined_df[joined_df["Variation"] == "Test"]
df_control = joined_df[joined_df["Variation"] == "Control"]

# Count total unique visits per group
n_control = df_control['visit_id'].nunique()
n_test = df_test['visit_id'].nunique()

# Count unique visits that reached the "Confirm" step per group
completed_control = df_control[df_control['process_step'] == 'confirm']['visit_id'].nunique()
completed_test = df_test[df_test['process_step'] == 'confirm']['visit_id'].nunique()

# Calculate completion rates
comp_rate_control = completed_control / n_control
comp_rate_test = completed_test / n_test

# Print completion rates
print(f"The completion rate for the control group (old version) is: {comp_rate_control:.4f}")
print(f"The completion rate for the test group (new version) is: {comp_rate_test:.4f}")

# Perform Z-test for proportions
count = np.array([completed_test, completed_control ])  # Successes in each group
nobs = np.array([n_test, n_control])  # Total observations in each group

z_stat, p_value = proportions_ztest(count, nobs, alternative='larger')

# Print results
print(f"Z-statistic: {z_stat:.4f}")
print(f"P-value: {p_value:.4f}")

# Interpret the result
alpha = 0.05  # Significance level
if p_value < alpha:
    print("Reject the null hypothesis: The new version has a significantly higher completion rate.")
else:
    print("Fail to reject the null hypothesis: No significant difference in completion rates.")

# Claculating: Completion Rate with a Cost-Effectiveness Threshold
threshold = 0.05  # 5% increase required
observed_increase = comp_rate_test - comp_rate_control

# Check if the observed increase meets the threshold
if observed_increase >= threshold:
    print(f"The observed increase in completion rate is {observed_increase:.4f}, which meets or exceeds the required 5% threshold.")
    if p_value < 0.05:
        print("Additionally, the increase is statistically significant. The new design is both effective and justifiable from a cost perspective.")
    else:
        print("However, the increase is not statistically significant. Further analysis may be needed before making a final decision.")
else:
    print(f"The observed increase in completion rate is {observed_increase:.4f}, which is below the required 5% threshold.")
    print("The new design does not meet the cost-effectiveness criterion and may not justify the associated costs.")

The completion rate for the control group (old version) is: 0.4985
The completion rate for the test group (new version) is: 0.5852
Z-statistic: 22.8568
P-value: 0.0000
Reject the null hypothesis: The new version has a significantly higher completion rate.
The observed increase in completion rate is 0.0867, which meets or exceeds the required 5% threshold.
Additionally, the increase is statistically significant. The new design is both effective and justifiable from a cost perspective.